<main class="layout">
  <div class="login__container">
    <h2 class="login__title">Bienvenido</h2>
    <p>Ingresa sus datos para continuar o <a href="/register">REGISTRATE</a></p>
    <form action="/login" method="post">
      <input
        type="text"
        placeholder="email"
        name="email"
      />
      <input
        type="password"
        placeholder="password"
        name="password"
      />
      <div></div>
      <button type="submit" class="login__btn">Log</button>
    </form>
  </div>
</main>