<main>
  <div>
    <h2>Por favor complete todos los campos para registrarse</h2>
    <form action="/create" method="POST">
      <div>
        <div>

          <input type="text" placeholder="Nombre" name="first_name" />
          <input type="text" placeholder="Apellido" name="last_name" />
          <input type="number" placeholder="Edad" name="age" />
        </div>
        <div>
          <input type="email" placeholder="Email" name="email" />
          <input type="password" placeholder="Password" name="password" />
        </div>
      </div>
      <input type="submit" value="Enviar" />
    </form>
  </div>
</main>